// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #25ADBA; // couleur bleu-vert de b-harmonist
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
